<div class="main-container">
  <div class="alert alert-app-level">
  </div>
  <header class="header header-4">
    <form class="search">
      <label for="search_input">
          <input (input)="getData($event)" id="search_input" type="text" placeholder="Find a guitar"/>
      </label>
      <label class="no-image">Body: </label>
      <select (change)="setBodyFilter($event.target.value)">
          <option value="">Any</option>
        <option value="tele">Tele</option>
        <option value="les paul">Les Paul</option>
      </select>
      <label class="no-image">Neck: </label>
      <select (change)="setNeckFilter($event.target.value)">
          <option value="">Any</option>
        <option value="rosewood">Rosewood</option>
        <option value="maple">Maple</option>
      </select>
    </form>
  </header>
  <div class="content-container">
      <div class="content-area">
          <div *ngIf="filteredData.length === 0 && noData === false"><em>we found no guitars that match</em></div>
          <ul>
             <li *ngFor="let item of filteredData">A {{item.body}} body with a {{item.neck}} neck.</li>
          </ul>
      </div>
  </div>
</div>


<!-- https://odn.voyagersearch.com/solr/v0/select?disp=D16D44107E30&sort=score%20desc&start=0&fl=id,title,name:[name],format,abstract,fullpath:[absolute],absolute_path:[absolute],thumb:[thumbURL],path_to_thumb,subject,download:[downloadURL],format_type,bytes,modified,shard:[shard],bbox,geo:[geo],format_category,component_files,ags_fused_cache,linkcount__children,contains_name,wms_layer_name,tag_flags,hasMissingData,layerURL:[lyrURL],hasLayerFile,likes,dislikes,description,keywords,fd__acquired,fd_acquisitionDate,fs_Date_On_Map,fs_event,fs_bandDesignation,fs__satellite_id,fs_platform,fs__provider,sensor_type,number_of_points_by_return,fs_Cell_Name,fs_Grid_Size,rasterSize,fs__item_type,format_company,name&rows=48&extent.bbox=true&block=true&fq=grp_Organization%3AU.S.%5C%20Department%5C%20of%5C%20the%5C%20Interior&voyager.config.id=D16D44107E30&rand=0.8387162962939334&wt=json -->

